# Temporary files, for example, from tests.
/tmp/
/output/

# Ignore database
*.db*
!demos/haca-2025-vault/synthesis.db

# Deno cache
.deno/

# Built distributions
/dist/

# Bundled binaries
/bundle/
web/app.bundle.js

# Desktop build artefacts
desktop-app/
